

.contentTable{
    border-collapse: collapse;
    margin: 25px 0;
    
    
    min-width: 400px;
    border-radius: 5px 5px 0 0;

    overflow: hidden;
    /* table-layout: fixed; */
    
    
  
}

.contentTable thead{
    background-color:crimson;
    color: rgb(248, 248, 237);
    font-weight:bold;
    text-align: left;
    margin: 25px 50px;
}


.contentTable tbody {
    font-size: 0.9em;
}

.contentTable .mainHeader th{
    padding: 10px 35px 10px 5px;
}

.contentTable .mainHeader th:hover{
    color:rgb(36, 26, 26);
}

.contentTable td:not(.imageCell){
    padding-right: 15px;
}

.contentTable tbody tr{
    border-bottom: 1px solid lightgray;
}

.contentTable tbody tr:nth-last-of-type(even){
    background-color: rgb(233, 233, 233);
}

.contentTable tbody tr:last-of-type{
    border-bottom: 2px solid crimson;
}

.sortableColHeader{
    cursor: pointer;
}

.contentTable td img{
    display: block;
    width: 50px;
    padding-right: 15px;
}


.contentTable a{
    text-decoration: underline;
    font-weight: 500;
    color: rgb(41, 9, 16);
}

.contentTable a:hover{
    color: rgb(143, 8, 37);
}

.hideArrow{
    cursor: pointer;
    width: 30px;
}

.sortArrow{
    width: 20px;
    position: absolute;
}


.contentTable .clearFilter{
    cursor: pointer;
}
.contentTable .clearFilter:hover{
    color:rgb(36, 26, 26);
}

.contentTable .filterHeader th{
    padding: 8px;
}

.contentTable .filterHeader input{
    display: block;
    border: 0;
    width: 90%;
    
}

