

#mainBlock{
    display: grid;
    grid-template-areas: 
        "info table";

}

.infoSection{
    grid-area: info;
    margin-top: 50px;
    margin-right: 10px;

}

.infoSection a{
    color: brown;
}


.tableSection{
    grid-area: table;
    
}

.tableSection h1{
    text-align: center;
    color: rgb(94, 15, 15);
    margin: 25px 0 10px 0;
}

.tableSection .no-entries{
    color: rgb(31, 3, 3);
    font-style: italic;
    font-size: 2em;
}

.mainImage{
    display: block;
    width: 100%;
    height: auto;
}

@media (max-width:1600px){
    #mainBlock{
        grid-template-areas: 
        "table"
        "info";

        grid-template-rows:max-content max-content;
    }
    .infoSection{
        justify-self: center;
        margin-top: 10px;
        margin-right: 10px;
    
    }
    .tableSection{
        width: min-content;
        justify-self: center;
    }
    .mainImage{
        width: 200px;
    }
}