

#mainBlock{
    display: flex;
    flex-direction: column;
    height: 100%;

}

#mainBlock > p{
    margin-top: auto;
    font-size: large;
    font-weight: bold;
    text-align: center;
    font-size: 5em;
    margin-top: auto;
    margin-bottom: 10px;

}


#searchForm{
    margin-bottom: auto;
    align-self: center;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content:space-between;


    background-color: rgb(156, 27, 53);
    

    border-radius: 50px;
    height: 200px;
    width: 1000px;
    padding: 30px 70px;

    
}

#categories{
    display: flex;
    flex-direction: row;
}

.categoryButton{
    margin: 5px;
}

.categoryButton span{

    font-size: 2.5em;
    padding: 15px;
    margin: 0px 5px;

    border-radius: 15px;

}

#searchBarAndAutocomplete{
    width: 100%;
    margin: 10px;
}

#searchBar{
    
}

#searchBar input{
  
    height: 100px;
    font-size: 2em;
     
}

#searchBar button{

    background-size: 80px;

    width: 100px;
    height: 100px;
    
}


#searchAutocomplete{
    top: 100px;
    max-height: 40vh;
    
}

.autocompleteEntry{
    font-size: 2em;
}

@media (max-width:1600px){

    #mainBlock > p{
        /* margin-bottom: 5px; */
    }

    
    .categoryButton span{
        /* padding: 5px;
        margin: 3px 3px;

        border-radius: 10px; */
    }

    #searchForm{
        
        height: auto;
        width: 70%;
        max-width: 1000px;
        padding: 20px 50px;
    }

    
    #searchBarAndAutocomplete{
        max-width:1000px;
    }
    #searchBar{
        height: 60px;
        width: 100%;
    }

    #searchBar button{
        background-size: 50px;
        width: 60px;
        height: 60px;
        
    }
    #searchAutocomplete{
        top: 60px;
    }
    .autocompleteEntry{
        /* font-size: 2.5em; */
    }
}

