#mainBlock{
    
}


#message{
    font-size: 1.3em;
    margin: 50px auto;
    width: 70%;
    
}


.downloadProgress{
    
    width: 50%;
    margin: auto;
    font-size: 1.2em;
    font-weight: bold;
}


.progressBarBack {
    position: relative;
    height: 50px;
    background-color: rgb(230, 230, 230);
}

.progressBarTop {
    position: absolute;
    width: 0%;
    transition-property: width;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 100%;
    background-color: green;
    
}

.downloadStatus{
    text-align: center;
    padding: 10px;
}

