
p{
    font-weight: bold;
    font-size: 2em;
    color: rgb(78, 11, 11);
    margin: 30px;
}

#searchResults{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#searchResults li{
    display: flex;
    align-items: center;
    margin: 10px 0;    
}

#searchResults li:nth-last-of-type(even){
    background-color: lightgray;
}

#searchResults img{
    width: 60px;
}

#searchResults a{
    color: brown;
}

#searchResults a span{
    margin: 20px;
    font-size: 1.5em;
}