#mainBlock{
    display: block;
}

#studioAnimeTable{
    margin-top: 50px;
}

.tableSection{
    
}

.contentTable tbody td{
    padding: 5px;
}

@media (max-width:1600px){
    .tableSection{
        width: auto;
        justify-self: center;
    }

}

.tableSection form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#numberDisplay{
    width: 3em;
}

.tableSection button{
    padding: 3px;
    font-size: 1em;
}