<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>gMs</title>
    {% endblock %}
    
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/main.css')}}">

</head>
<body>
<div class="header">
    <h1>good MAL searching</h1>
    <h2>Flashed messages</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>

<form action={{url_for('test_celery')}} method="post">
    <button type="submit" name="test_celery_name" value="test_celery_val">test celery </button>
</form>


<hr>

<div id="search-box">
    <form action={{url_for('search')}} method="post">
        
        <p>
            <input type="text" id="search-bar" name="query">
        </p>
        <p>
            <input type="radio" id="input-anime" name="category" value="anime" checked>
            <label for="input-anime">Anime</label>

            <input type="radio" id="input-people" name="category" value="people">
            <label for="input-people">People</label>
        </p>
        <p>
            <button type="submit">Search</button>
        </p>
        

    </form>
</div>

<hr>
{% block main %}{%endblock%}



</body>
</html>