<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    {% block head %}
    <title>BMC</title>
    {% endblock %}

    <link rel="icon" type="image/png" href="{{url_for('static', filename='icons/favicon.png')}}"sizes="32x32">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/main.css')}}">
    {% block css %}
    {% endblock %}

</head>

<body>

<div id="invalidSearchSlider">
    search has to be longer than 3 letters
</div>

{% block header %}
<form id="searchForm" name="search_form" action="{{url_for('search')}}" method="POST">
    <header>   
        
        <div id="linkToMain">
            <a href="{{url_for('index')}}">MAIN PAGE</a>
        </div>
        
        
        <label class="categoryButton">
            <input type="radio" id="inputAnime" name="category" value="anime" checked>
            <span>ANIME</span>
        </label>

        
        <label class="categoryButton">
            <input type="radio" id="inputPeople" name="category" value="people">
            <span>PEOPLE</span>
        </label>

        <label class="categoryButton">
            <input type="radio" id="inputStudios" name="category" value="studios">
            <span>STUDIOS</span>
        </label>
    

        <div id="searchBarAndAutocomplete">

            <div id="searchBar">
                <input type="text" id="searchBarInput" name="query" required autocomplete="off">
                <button id="searchButton"></button>
            </div>

            <div id="searchAutocomplete">
                <a id="autocompleteEntryBase" class="autocompleteEntry"></a>
            </div>

        </div>
    </header>     
</form>
{% endblock %}

<div id="mainBlock">
    {% block main %}
    {%endblock%}
</div>

{% block footer %}
<footer>
    <div>
        Made by: 
        <a href="https://www.youtube.com/channel/UCINPzzjxRzGOq4Pex5r3EKg" target="_blank">Paraon</a>/
        <a href="https://twitter.com/turtle_guy_" target="_blank">@turtle_guy</a>/
        <a href="https://github.com/Quattro-Bajeena" target="_blank">Quattro-Bajeena</a>
    </div>
    <div>Powered by: <a href="https://jikan.moe/" target="_blank">Jikan, unoficiall MAL API</a></div>
    <div><a href="{{url_for('download_statistics')}}">Downloads Panel</a></div>
</footer>
{%endblock%}




<script  src="{{url_for('static', filename='javascript/searchbar.js')}}"></script>
{% block javascript %}

{% endblock %}

</body>
</html>