{% extends 'base.html' %}

{% block head %}
<title>gMs - {{anime.title}}</title>

{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/content_table.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/content_page.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/staff.css')}}">
{% endblock %}

{% block main %}




<div class="animeInfo infoSection" >
    <img class="mainImage" src={{anime.image_url}}>
    <p><b>Title:</b> {{anime.title}} </p>
    <p><b>Premiered: </b>{{anime.aired_from | format_date}}</p>
    <p><a href={{anime.url}} target="_blank">MAL link</a></p>
</div>

<div class="tableSection">

<table id="staffTable" class="contentTable">
    <thead>
        <tr class="mainHeader">
            <th class="hideTableButton"><img class="hideArrow" src="{{url_for('static', filename='icons/arrow-down.svg')}}"></th>
            <th class="sortableColHeader">NAME</th>
            <th class="sortableColHeader">POSITION</th>
            <th class="sortableColHeader">FAVORITES</th>
            <th class="sortableColHeader">BIRTHDAY</th>
            <th class="sortableColHeader">AGE AT PREMIERE</th>
            <th class="sortableColHeader">NO. OF CREDITS</th>
        </tr>

        <tr class="filterHeader">
            <th class="clearFilter">CLEAR</th>
            <th class="filterText"><input type="text"></th>
            <th class="filterText"><input type="text"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>  
        </tr>
    </thead>

    <tbody>
        {% for member in anime.staff %}
        <tr>
            <td class="imageCell"><img class="tableImage" src={{member.person.image_url}}> </td>
            <td><a href="{{url_for('person', mal_id=member.person.mal_id)}}">{{ member.person.name }} </a></td>
            <td> {{ member.position }} </td>
            <td>{{member.person.member_favorites}}</td>
            <td>{{ member.person.birthday | format_date}}</td>
            <td>{{ staff_age( anime.aired_from, member.person.birthday) }}</td>
            <td>{{ len(member.person.staff_credits) }}</td>
        </tr>   
        {% endfor %}
    </tbody>


</table>


<table id="voiceActorsTable" class="contentTable">
    <thead class="contentTableHead">
        <tr class="mainHeader">
            <th class="hideTableButton"><img class="hideArrow" src="{{url_for('static', filename='icons/arrow-down.svg')}}"></th>
            <th class="sortableColHeader">CHARACTER</th>
            <th class="sortableColHeader">FAVOURITES</th>
            <th class="sortableColHeader">ROLE</th>

            <th></th>
            <th class="sortableColHeader">SEIYUU</th>
            <th class="sortableColHeader">FAVOURITES</th>
            <th class="sortableColHeader">BIRTHDAY</th>
            <th class="sortableColHeader">AGE AT PREMIERE</th>
            <th class="sortableColHeader">LANGUAGE</th>
            <th class="sortableColHeader">NO. OF ROLES</th>
        </tr>

        <tr class="filterHeader">
            <th class="clearFilter">CLEAR</th>
            <th class="filterText"><input type="text"></th>
            <th></th>
            <th class="filterText"><input type="text"></th>
            <th></th>
            <th class="filterText"><input type="text"></th>
            <th></th>  
            <th></th>  
            <th></th>  
            <th class="filterText"><input type="text"></th>
            <th></th>  
        </tr>
    </thead>

    <tbody class="contentTableBody">

        {% for role in anime.voice_actors %}
        <tr>
            <td class="imageCell"><img class="tableImage" src={{role.character.image_url}} ></td>
            <td>{{role.character.name}}</td>
            <td>{{role.character.member_favorites}}</td>
            <td>{{role.role}}</td>

            <td class="imageCell"><img class="tableImage" src={{role.person.image_url}} ></td>
            <td><a href="{{url_for('person', mal_id=role.person.mal_id)}}" >{{role.person.name}}</a></td>
            
            <td>{{role.person.member_favorites}}</td>
            <td>{{role.person.birthday | format_date}}</td>
            <td>{{ staff_age( anime.aired_from, role.person.birthday) }}</td>
            <td>{{role.language}}</td>
            <td>{{ len(role.person.voice_acting_roles) }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>




</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{url_for('static', filename='javascript/content_table.js')}}"></script>
{%endblock%}