{% extends 'base.html' %}

{% block head %}
<title>Better MAL Credits</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/index.css')}}">
{% endblock %}


{% block header %}
{% endblock %}

{% block main %}

<p id="title">
    BETTER MAL CREDITS
</p>

<form id="searchForm" name="search_form" action="{{url_for('search')}}" method="POST">
    

    <div id="categories">
        <label class="categoryButton">
            <input type="radio" id="inputAnime" name="category" value="anime" checked>
            <span>ANIME</span>
        </label>

        
        <label class="categoryButton">
            <input type="radio" id="inputPeople" name="category" value="people">
            <span>PEOPLE</span>
        </label>

        <label class="categoryButton">
            <input type="radio" id="inputStudios" name="category" value="studios">
            <span>STUDIOS</span>
        </label>
    </div>
    
    
    <div id="searchBarAndAutocomplete">

        <div id="searchBar">
            <input type="text" id="searchBarInput" name="query" required autocomplete="off">
            <button id="searchButton"></button>
        </div>

        <div id="searchAutocomplete">
            <a id="autocompleteEntryBase" class="autocompleteEntry"></a>
        </div>

    </div>
</form>

<div id="sample">
    <p>If you don't know where to start, check out some of my favourites</p>
    <div id="samplePages">
        <ul id="sampleAnime">
            <h1>Anime</h1>
            <li><a href="{{url_for('content',category='anime', mal_id=30)}}">Evangelion</a></li>
            <li><a href="{{url_for('content',category='anime', mal_id=572)}}">Nausicaä of the Valley of the Wind</a></li>
            <li><a href="{{url_for('content',category='anime', mal_id=7791)}}">K-On</a></li>
        </ul>
        <ul id="samplePeople">
            <h1>People</h1>
            <li><a href="{{url_for('content',category='people', mal_id=511)}}">Hideaki Anno</a></li>
            <li><a href="{{url_for('content',category='people', mal_id=2000)}}">Tsutomu Nihei</a></li>
            <li><a href="{{url_for('content',category='people', mal_id=598)}}">Shuuichi Ikeda</a></li>
            
        </ul>
        <ul id="sampleStudios">
            <h1>Studios</h1>
            <li><a href="{{url_for('content',category='studios', mal_id=30)}}">Gainax</a></li>
            <li><a href="{{url_for('content',category='studios', mal_id=803)}}">Trigger</a></li>
            <li><a href="{{url_for('content',category='studios', mal_id=1023)}}">Polygon Pictures</a></li>
        </ul>
    </div>
</div>


{%endblock%}