{% extends 'base.html' %}

{% block head %}
<title>data downloading</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/page_downloading.css')}}">
{% endblock %}


{% block main %}

<div id="message">
    <p>
        Wow! You're the first person who wanted to see information about this 
    {% if category == 'staff' %}
        anime.
    {% else %}
        creator.
    {% endif %}
    You can feel proud of yourself, this page is downloading just for you.
    Wait a little for all of the needed info. It can tak up to 5 minutes.
    </p>
</div>


<div class="downloadProgress" id="pageDownloadProgress">
    <div class="progressBarBack">
        <div class="progressBarTop" id="pageDownloadBar"></div>
    </div>
    <div class="downloadStatus" id="pageDownloadStatus">Preparing to download</div>
</div>



{% endblock %}


{% block javascript %}
<script type="text/javascript">
    var progress_url = "{{url_for('page_downloading', task_id=task_id)}}"
</script>
<script type="text/javascript" src="{{url_for('static', filename='javascript/progress_bar.js')}}"></script>
{% endblock %}