{% extends 'base.html' %}

{% block head %}
<title>data downloading</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/page_downloading.css')}}">
{% endblock %}


{% block main %}

<div id="message">
    <p>
        Wow! You're the first person who wanted to see information about this 
    {% if category == 'anime' %}
        anime.
    {% else %}
        creator.
    {% endif %}

    {% if downloading_right_now %}
        You can feel proud of yourself, this page is downloading just for you.
        Wait a little for all of the needed info. It can take up to 5 minutes.
    {% else %}
        You can feel proud of yourself, this page will be downloaded just for you.
        Right now it's queued for download so come back in a few minutes.
    {% endif %}
    </p>
</div>


<div class="downloadProgress" id="pageDownloadProgress">
    <div class="progressBarBack">
        <div class="progressBarTop" id="pageDownloadBar"></div>
    </div>
    <div class="downloadStatus" id="pageDownloadStatus">
        {% if downloading_right_now %}
        Preparing to download
        {% else %}
        Download is queued
        {% endif %}
    </div>
</div>



{% endblock %}


{% block javascript %}
<script type="text/javascript">
    var progress_url = "{{url_for('page_downloading', task_id=task_id)}}"
</script>
<script type="text/javascript" src="{{url_for('static', filename='javascript/progress_bar.js')}}"></script>
{% endblock %}