{% extends 'base.html' %}

{% block head %}
<title>gMs - {{person.name}}</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/person.css')}}">
{% endblock %}



{% block main %}

<div class="personInfo" class="infoSection">
    <img class="mainImage" src={{person.image_url}}>
    <p><b>Name: </b>{{person.name}} </p>
    <p><b>Birthday: </b>{{person.birthday | format_date}} </p>
    <br>
</div>

<hr>
<div class="personTables">
{% if len(person.staff_credits) > 0 %}

<table id="personCreditsTable" class="contentTable">
    <thead class="contentTableHead">
        <tr>
            <th></th>
            <th class="sortableColHeader">title</th>
            <th class="sortableColHeader">position</th>

            <th class="sortableColHeader">members</th>
            <th class="sortableColHeader">popularity</th>

            <th class="sortableColHeader">score</th>
            <th class="sortableColHeader">rank</th>

            <th class="sortableColHeader">aired</th>
            <th class="sortableColHeader">age when aired</th>

        </tr>
    </thead>


    <tbody class="contentTableBody">
        {% for credit in person.staff_credits %}
        <tr>
            <td><img class="tableImage" src={{credit.anime.image_url}}></td>
            <td><a href={{url_for('anime_staff', mal_id=credit.anime.mal_id)}} >{{credit.anime.title}}</a></td>
            <td>{{credit.position}}</td>

            <td>{{credit.anime.members}}</td>
            <td>{{credit.anime.popularity}}</td>

            <td>{{credit.anime.score}}</td>
            <td>{{credit.anime.rank}}</td>
            
            <td>{{credit.anime.aired_from | format_date}}</td>
            <td>{{ staff_age( credit.anime.aired_from, person.birthday) }}</td>

        </tr>

        {% endfor %}
    </tbody>
    
</table>

<hr>

{% else %}
<p><b>No anime staff credits</b></p>
{% endif %}

{% if len(person.voice_acting_roles) > 0 %}

<table id="personVoiceActingTable" class="contentTable">
    <thead class="contentTableHead">
        <tr>
            <th></th>
            <th class="sortableColHeader">anime</th>

            <th></th>
            <th class="sortableColHeader">character</th>
            <th class="sortableColHeader">character favourites</th>

            <th class="sortableColHeader">anime members</th>
            <th class="sortableColHeader">popularity</th>

            <th class="sortableColHeader">score</th>
            <th class="sortableColHeader">rank</th>
            
            <th class="sortableColHeader">aired</th>
            <th class="sortableColHeader">age when aired</th>
            
        </tr>
    </thead>

    <tbody class="contentTableBody">

        {% for role in person.voice_acting_roles %}

        <tr>
            <td><img class="tableImage" src={{role.anime.image_url}} ></td>
            <td><a href="{{url_for('anime_staff', mal_id=role.anime.mal_id)}}" >{{role.anime.title}}</a></td>
            <td><img class="tableImage" src={{role.character.image_url}} ></td>
            <td>{{role.character.name}}</td>
            <td>{{role.character.member_favorites}}</td>

            <td>{{role.anime.members}}</td>
            <td>{{role.anime.popularity}}</td>

            <td>{{role.anime.score}}</td>
            <td>{{role.anime.rank}}</td>
            
            <td>{{role.anime.aired_from | format_date}}</td>
            <td>{{staff_age( role.anime.aired_from, person.birthday)}}</td>
        </tr>

        {% endfor %}
    </tbody>

</table>

{% else %}

<p><b>No acting roles</b></p>

{% endif %}

</div>
{% endblock %}



{% block javascript %}
<script type="text/javascript" src="{{url_for('static', filename='javascript/content_table.js')}}"></script>
{%endblock%}