{% extends 'base.html' %}

{% block head %}
<title>gMs - {{resource.name}}</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/content_table.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/content_page.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/person.css')}}">
{% endblock %}



{% block main %}

<div class="personInfo infoSection">
    <img class="mainImage" src={{resource.image_url}}>
    <p><b>Name: </b>{{resource.name}} </p>
    <p><b>Birthday: </b>{{resource.birthday | format_date}} </p>
    <p><a href={{resource.url}} target="_blank">MAL link</a></p>
    <br>
</div>

<div class="tableSection">
{% if len(resource.staff_credits) > 0 %}

<table id="personCreditsTable" class="contentTable">
    <thead>
        <tr class="mainHeader">
            <th class="hideTableButton pictureCol"><img class="hideArrow" src="{{url_for('static', filename='icons/arrow-down.svg')}}"></th>
            <th class="sortableColHeader fixedWidth">TITLE</th>
            <th class="sortableColHeader">POSITION</th>

            <th class="sortableColHeader">MEMBERS</th>
            <th class="sortableColHeader">POPULARITY</th>

            <th class="sortableColHeader">SCORE</th>
            <th class="sortableColHeader">RANK</th>

            <th class="sortableColHeader">YEAR</th>
            <th class="sortableColHeader">AGE</th>

            <th class="sortableColHeader">STUDIO</th>
        </tr>

        <tr class="filterHeader">
            <th class="clearFilter">CLEAR</th>
            <th class="filterCol"><input type="text"> </th>
            <th class="filterCol"><input type="text"> </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class="filterCol"><input type="text"></th>
        </tr>
    </thead>


    <tbody>
        {% for credit in resource.staff_credits %}
        <tr>
            <td class="imageCell"><img class="tableImage" src={{credit.anime.image_url}}></td>
            <td><a href="{{url_for('content',category='anime', mal_id=credit.anime.mal_id)}}" >{{credit.anime.title}}</a></td>
            <td>{{credit.position}}</td>

            <td>{{credit.anime.members | format_big_number}}</td>
            <td>{{credit.anime.popularity | format_big_number}}</td>

            <td>{{credit.anime.score}}</td>
            <td>{{credit.anime.rank | format_big_number}}</td>
            
            <td>{{credit.anime.aired_from | format_year}}</td>
            <td>{{ staff_age( credit.anime.aired_from, resource.birthday) }}</td>

            {% if len(credit.anime.studios) > 0 %}
            <td><a href="{{url_for('content',category='studios', mal_id=credit.anime.studios[0].mal_id)}}">{{credit.anime.studios[0].name}}</a></td>
            {% else %}
            <td>-</td>
            {% endif %}

        </tr>

        {% endfor %}
    </tbody>
    
</table>


{% else %}
<p><b>No anime staff credits</b></p>
{% endif %}



{% if len(resource.voice_acting_roles) > 0 %}

<table id="personVoiceActingTable" class="contentTable">
    <thead class="contentTableHead">
        <tr class="mainHeader">
            <th class="hideTableButton pictureCol"><img class="hideArrow" src="{{url_for('static', filename='icons/arrow-down.svg')}}"></th>
            <th class="sortableColHeader fixedWidth">ANIME</th>

            <th class="pictureCol"></th>
            <th class="sortableColHeader">CHARACTER</th>
            <th class="sortableColHeader">CHARACTER FAVOURITES</th>

            <th class="sortableColHeader">ANIME MEMBERS</th>
            <th class="sortableColHeader">POPULARITY</th>

            <th class="sortableColHeader">SCORE</th>
            <th class="sortableColHeader">RANK</th>
            
            <th class="sortableColHeader">AIRED</th>
            <th class="sortableColHeader">AGE WHEN AIRED</th>
            
        </tr>

        <tr class="filterHeader">
            <th class="clearFilter">CLEAR</th>
            <th class="filterCol"><input type="text"> </th>
            <th></th>
            <th class="filterCol"><input type="text"> </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody class="contentTableBody">

        {% for role in resource.voice_acting_roles %}

        <tr>
            <td class="imageCell"><img class="tableImage" src={{role.anime.image_url}} ></td>
            <td><a href="{{url_for('content',category='anime', mal_id=role.anime.mal_id)}}" >{{role.anime.title}}</a></td>
            <td class="imageCell"><img class="tableImage" src={{role.character.image_url}} ></td>
            <td>{{role.character.name}}</td>
            <td>{{role.character.member_favorites | format_big_number}}</td>

            <td>{{role.anime.members | format_big_number}}</td>
            <td>{{role.anime.popularity | format_big_number}}</td>

            <td>{{role.anime.score}}</td>
            <td>{{role.anime.rank | format_big_number}}</td>
            
            <td>{{role.anime.aired_from | format_year}}</td>
            <td>{{staff_age( role.anime.aired_from, resource.birthday)}}</td>
        </tr>

        {% endfor %}
    </tbody>

</table>

{% else %}
<p><b>No acting roles</b></p>
{% endif %}


{% if len(resource.published_manga) > 0 %}

<table id="personMangaTable" class="contentTable">
    <thead>
        <tr class="mainHeader">
            <th class="hideTableButton pictureCol" ><img class="hideArrow" src="{{url_for('static', filename='icons/arrow-down.svg')}}"></th>
            <th class="sortableColHeader fixedWidth">TITLE</th>
            <th class="sortableColHeader">POSITION</th>

            <th class="sortableColHeader">MEMBERS</th>
            <th class="sortableColHeader">POPULARITY</th>

            <th class="sortableColHeader">SCORE</th>
            <th class="sortableColHeader">RANK</th>

            <th class="sortableColHeader">YEAR START</th>
            <th class="sortableColHeader">YEAR END</th>

            <th class="sortableColHeader">AGE AT START</th>
            <th class="sortableColHeader">AGE AT END</th>

            <th class="sortableColHeader">MAGAZINE</th>

        </tr>

        <tr class="filterHeader">
            <th class="clearFilter">CLEAR</th>
            <th class="filterCol"><input type="text"></th>
            <th class="filterCol"><input type="text"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class="filterCol"><input type="text"></th>
        </tr>
    </thead>


    <tbody>
        {% for credit in resource.published_manga %}
        <tr>
            <td class="imageCell"><img class="tableImage" src={{credit.manga.image_url}}></td>
            <td>{{credit.manga.title}}</td>
            <td>{{credit.position}}</td>

            <td>{{credit.manga.members | format_big_number}}</td>
            <td>{{credit.manga.popularity | format_big_number}}</td>

            <td>{{credit.manga.score}}</td>
            <td>{{credit.manga.rank | format_big_number}}</td>
            
            <td>{{credit.manga.published_from | format_year}}</td>
            <td>{{credit.manga.published_to | format_year}}</td>

            <td>{{ staff_age( credit.manga.published_from, resource.birthday) }}</td>
            <td>{{ staff_age( credit.manga.published_to, resource.birthday) }}</td>

            {% if credit.manga.serialization %}
                <td>{{credit.manga.serialization}}</td>
            {% else %}
                <td>-</td>
            {% endif %}
            
        </tr>

        {% endfor %}
    </tbody>
    
</table>

{% else %}
<p><b>No published manga</b></p>
{% endif %}


</div>
{% endblock %}



{% block javascript %}
<script type="text/javascript" src="{{url_for('static', filename='javascript/content_table.js')}}"></script>
{%endblock%}