{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/searching.css')}}">
{% endblock %}


{% block main %}
<p>
    Search results:
</p>


<ol id="searchResults">
{% for result in results %}
    <li>
        
        <img src={{result.image_url}}> 

        <a href='{{url_for("content",category=category, mal_id = result.mal_id)}}'>
            {{result.title}}
            {{result.name}}
        </a>

    </li>
{% endfor %}
</ol>

{%endblock%}