{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/searching.css')}}">
{% endblock %}


{% block main %}


{% if category == 'studios' %}
<p>
    MAL doesn't support searching for studios
</p>

{% else %}

<p>
    Search results:
</p>


<ol id="searchResults">
{% for result in results %}
    <li>
        
        <a href='{{url_for("content",category=category, mal_id = result.mal_id)}}'>
        <img src={{result.image_url}}> 
        </a>

        <a href='{{url_for("content",category=category, mal_id = result.mal_id)}}'>
            <span>
            {{result.title}}
            {{result.name}}
            </span>
        </a>

    </li>
{% endfor %}
</ol>

{% endif %}

{%endblock%}