{% extends 'base.html' %}

{% block head %}
<title>gMs - {{anime.title}}</title>
{% endblock %}


{% block main %}

<div id="anime-info">
    <b>Title:</b> {{anime.title}} 
    <b>Premiered: </b>{{anime.aired_from | format_date}}
    <br>
    <a href={{anime.url}} target="_blank">MAL link</a>
    <br>
    <img src={{anime.image_url}} width="50">

</div>

<hr>

<table id="staff-table" class="content-table" style="margin-left: auto; margin-right: auto; text-align: center;">
    
    <tr>
        <th></th>
        <th>name</th>
        <th>position</th>
        <th>favorites</th>
        <th>birthday</th>
        <th>age at the premiere</th>
        <th>no. of credits</th>
    </tr>

    {% for member in anime.staff %}
    <tr>
        <td><img src={{member.person.image_url}} width="30"> </td>
        <td><a href={{url_for("person", mal_id=member.person.mal_id)}}>{{ member.person.name }} </a></td>
        <td> {{ member.position }} </td>
        <td>{{member.person.member_favorites}}</td>
        <td>{{ member.person.birthday | format_date}}</td>
        <td>{{ staff_age( anime.aired_from, member.person.birthday) }}</td>
        <td>{{ len(member.person.staff_credits) }}</td>
    </tr>   
    {% endfor %}


</table>


{% endblock %}