{% extends 'base.html' %}

{% block head %}
<title>gMs - {{anime.title}}</title>

{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/content_table.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/content_page.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/staff.css')}}">
{% endblock %}

{% block main %}




<div class="animeInfo infoSection" >
    <img class="mainImage" src={{anime.image_url}}>
    <p><b>Title:</b> {{anime.title}} </p>
    <p><b>Premiered: </b>{{anime.aired_from | format_date}}</p>
    <p><a href={{anime.url}} target="_blank">MAL link</a></p>
</div>

<div class="tableSection">

<table id="staffTable" class="contentTable">
    <thead>
        <tr>
            <th></th>
            <th class="sortableColHeader">NAME</th>
            <th class="sortableColHeader">POSITION</th>
            <th class="sortableColHeader">FAVORITES</th>
            <th class="sortableColHeader">BIRTHDAY</th>
            <th class="sortableColHeader">AGE AT THE PREMIERE</th>
            <th class="sortableColHeader">NO. OF CREDITS</th>
        </tr>
    </thead>

    <tbody>
        {% for member in anime.staff %}
        <tr>
            <td class="imageCell"><img class="tableImage" src={{member.person.image_url}}> </td>
            <td><a href="{{url_for('person', mal_id=member.person.mal_id)}}">{{ member.person.name }} </a></td>
            <td> {{ member.position }} </td>
            <td>{{member.person.member_favorites}}</td>
            <td>{{ member.person.birthday | format_date}}</td>
            <td>{{ staff_age( anime.aired_from, member.person.birthday) }}</td>
            <td>{{ len(member.person.staff_credits) }}</td>
        </tr>   
        {% endfor %}
    </tbody>


</table>


</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{url_for('static', filename='javascript/content_table.js')}}"></script>
{%endblock%}