{% extends 'base.html' %}

{% block head %}
<title>Better MAL Credits</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/updates.css')}}">
{% endblock %}



{% block main %}

<div id="updates">

    <p>This is WIP page for posting news about new features added to the page and bugs I'm currently fighting. Eventually I'd like to make it nice and clean, but for now this has to do.</p>
    <ul>
        <li><em>20.07.21:[NEW] </em>Finally implemented studio ranking, although it's kinda wonky. as it's based half-and-half on the records in my database, and more accurate ones directly from Jikan. Still hope it helps. Also changed few filtering criteria to lists instead of textboxes, and added Role (main/supporint) column in person's voice acting table 
        <li><em>18.07.21</em>:<p> haha, fixed the fact paged crashed when trying to see new page,it was banal thing if I tested it even sligh that wouldn't happen.</p>
        <p> Also sorry, I haven't been able to fix the problems where due to updating pages that already existed the state of the page in database was not syned with the factual state of which one was being updated, so the Downloads functionality was broken. So I pushed back the problem and set the day limit for some high number so pages won't be updated fo some time. </p>
        <p>Also I haven't been implementing the rankings I promised, sorry. I've been busy with work and other projects, but I hope to get to it this week.</p></li>
        <li><em>06.07.21</em>: AGH updating is fucked. WHAT IS HAPPENING?! I'm too tired for this shit.</li>
        <li><em>06.07.21</em>: yee, I fixed it. I'll get a go at fleshing out studio staticts, rankings etc.</li>
        <li><em>06.07.21</em>: Currently wherever page tries to update a person that already exists, when it comes to their manga I get database error, I have no idea why. When I downloaded new creator page it was goo. So that's why there are those few failed downloads you an see. </li>
    </ul>
</div>


{%endblock%}