.idea/
.vscode/
__pycache__/
venv/

migrations/
anime_database/
logs/

.flaskenv
.env
uwsgi.ini
gms.sock
start_celery.ps1
activate_venv.ps1
app.db
app.db-journal
celery_log.sh
celery_que_lenght.sh

config.yaml
celery_config.yaml
logging_config.yaml


