__pycache__/
#anime_credits_app/__pycache__

.idea/
muwenv/
venv/
.flaskenv
.vscode/
.env
uwsgi.ini
gms.sock
start_celery.ps1
activate_venv.ps1
app.db
migrations/
anime_database/
logs/
celery_log.sh
celery_que_lenght.sh
