.idea/
.vscode/
__pycache__/
venv/

migrations/
anime_database/
logs/

.flaskenv
.env
uwsgi.ini
gms.sock
start_celery.ps1
activate_venv.ps1
app.db
celery_log.sh
celery_que_lenght.sh
logging_config.yaml
